@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-mainBG: #FFFFFF;
  --color-searchBG: #f4f5f6;
  --color-textMain: #777E90;
  --color-textGray: #353945;
  --color-swimlaneBG: #E6E8EC;

  --color-newBtnBG: #3772FF;
  --color-inProgressYellow: #FFA800;
  --color-toDoGray: #E6E8EC;
  --color-approvedGreen: #AEE753;
  --color-rejectedRed: #F90430;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
